@keyframes party {
    0% {
        color: red;
        font-size: 20px;
    }

    50% {
        color: green;
    }

    100% {
        color: blue;
        font-size: 40px;
    }
}

h1 {
    animation-name: party;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

img {
    width: 80px;
    animation-name: drive;
    animation-duration: 4s;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes drive {
    0% {
     right: 0;
    }
 
    45% {
     right: calc(100% - 80px);
     transform: rotate(0deg);
    }
    50% {
     transform: rotateY(180deg);
    }
    55% {
     transform: rotateY(180deg);
    }
 
    95% {
     right: 0;
     transform: rotateY(180deg);
    }
 
    100% {
     transform: rotateY(0deg);
    }
 }